h1{
  color:green;
}
body{
  
  background-color: #f4f4f4;
  color:#555555;
  font-family: Arial;
  font-size: 14px;
  font-weight: lighter;
  line-height: inherit;
}
.button{
  background-color: #808080;
  color:#ffffff;
  padding:10px 20px;
  border:none;
}
